body {
        background-color: #e0ffff;
          }
h1 {
    font-size: 25;
    color: rgb(30, 60, 210);
}
      h2 {
        font-size: 20;
        color: #8B0000;
      }
      ol,ul {
    font-size: 12;
    color: aquamarine;
    padding: 20;
}
li {
   font-size: 11;
   margin: 20;
}
.content {
display: flex;
flex-direction: row;
justify-content: space-between;
margin: 15px;
}
.content-left {
    border: 2px solid silver;
    padding: 15px;
    width: 60%;
    background-color: #e0fff0;
    margin: 15px;
    border-radius: 7px;
}
.content-right {
    border: 2px solid silver;
    padding: 15px;
    width: 30%;
    background-color: #e0fff0;
    margin: 15px;
    border-radius: 7px;
}
.img {
    width: 400px;
    height: 300px;
}
.header{
    background-color: #ffffff;
    padding: 5px;
    text-align: right;
    border: 2px solid rgb(255, 0, 0);
    border-radius: 7px;
}
.block{
    width: 200px;
    height: 200px;
    background-color: #cacaca;
    margin: 0 auto;
}
.cotainer{
background-color: aqua;
}
.block-2{
    width: 200px;
    height: 200px;
    background-color: #cacaca;
    margin: 0 auto;
}
.cotainer-2{
background-color: aqua;
height: 300px;
display: flex;
align-items: center;
}