body {
    background-color: #e0ffff;
}

h1 {
    font-size: 25px;
    color: rgb(30, 60, 210);
}

h2 {
    font-size: 20px;
    color: #8B0000;
}

ol,
ul {
    font-size: 16px;
    color: rgb(30, 60, 210);
    padding: 20px;
}

li {
    font-size: 14px;
    margin: 20px;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 15px;
}

.content-left {
    border: 2px solid silver;
    padding: 20px;
    width: 70%;
    background: #e0fff0;
    margin: 15px;
    border-radius: 7px;
}

.content-right {
    border: 2px solid silver;
    padding: 20px;
    width: 20%;
    background: #e0fff0;
    margin: 10px;
    border-radius: 10px;
}

.img {
    width: 300px;
    height: 300px;
}

.header {
    background-color: #ffffff;
    padding: 15px;
    text-align: right;
    border: 2px solid rgb(255, 0, 0);
    border-radius: 10px;
}

.block-common {
    width: 200px;
    height: 200px;
}

.block {
    width: 200px;
    height: 200px;
    background-color: #cacaca;
    margin: 0 auto;
}

.container {
    background-color: aqua;
}

.container-2 {
    background-color: aqua;
    height: 300px;
    display: flex;
    align-items: center;
}

.container-3 {
    background-color: #4088e7;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.block-2 {
    background-color: #cacaca;
    margin: 0 auto;
}

.block-3 {
    width: 200px;
    height: 200px;
    background-color: #cacaca;
    margin: 10px;
}

.container-4 {
    border: 2px solid rgb(255, 0, 0);
}

.red {
    position: relative;
    border: 2px solid red;
    left: 20px;
    top: 20px;
}

.green {
    position: relative;
    border: 2px solid green;
    left: 150px;
    top: -40px;
}

.blue {
    position: relative;
    border: 2px solid blue;
    left: 280px;
    top: -100px;
}

.abs-haus {
    position: fixed;
    right: 0;
    bottom: 0;
}

.abs-haus.img {
    width: 100px;
    height: 100px;
}



