body {
    background-color: #e0ffff;
}

h1 {
    font-size: 25px;
    color: rgb(30, 60, 210);
}

h2 {
    font-size: 20px;
    color: #8B0000;
}

ol,
ul {
    font-size: 16px;
    color: rgb(30, 60, 210);
    padding: 10px;
}

li {
    font-size: 14px;
    margin: 10px;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 15px;
}

.content-left {
    border: 2px solid silver;
    padding: 20px;
    width: 70%;
    background: #e0fff0;
    margin: 15px;
    border-radius: 7px;
}

.content-right {
    border: 2px solid silver;
    padding: 20px;
    width: 20%;
    background: #e0fff0;
    margin: 10px;
    border-radius: 10px;
}

.img {
    width: 300px;
    height: 200px;
}

.header {
    background-color: #ffffff;
    padding: 15px;
    text-align: right;
    border: 2px solid rgb(255, 0, 0);
    border-radius: 10px;
}

.container{
    background-color: aqua;
}
.block{
    width: 200px;
    height: 200px;
    background-color: #e0fff0;
    margin: auto;
}
.image{
    width: 200px;
    margin-right: auto;
    margin-left: auto;
}








