.header {
    background: #eee;
    padding: 15px;
}

table {
    width: 95%;
    margin: 30px auto;
    border-collapse: collapse;
}

caption {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 15px;
}

th {
    text-align: left;
    background-color: aquamarine;
}

th,
td {
    padding: 10px 15px;
    border: 1px solid #12a1e4;
}

tr:nth-child(2n) {
    background-color: aqua;
}

tr:nth-child(2n+1) {
    background-color: rgb(109, 129, 221);
}

td:nth-child(even),
th:nth-child(even) {
    background-color: #f0f8ff;
}

td:nth-child(odd),
th:nth-child(odd) {
    background-color: #f1efef;
}

tr:hover {
    background-color: #dff0ff;
}
tr:nth-last-child(1){
    background-color: #c112e4;
}
