td,
th {
    padding: 10px;
    border: 1px solid #ccc;
}

th {
    text-align: left;
    background-color: aquamarine;
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: blanchedalmond;
}

tr:nth-child(odd) {
    background-color: beige;
}

table {
    width: 100%;
    border-collapse: collapse;
}

tr:last-child {
    background-color: blueviolet;
    color: white;
}
tr:hover:nth-child(n+2) {
    background-color: #dff0ff;
}
